#btnParser {
    width: 100%;
    margin-bottom: 0;
    display: none;
    position: absolute;
    bottom: 0px;
}

body {
    min-width: 600px;
}

#dropTarget {
    border: 1px dashed black;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    position: relative;
    margin-top: 100px;
}

#fileName {
    line-height: 500px;
}

.bg-drop {
    background-color: rgba(91, 192, 222, 0.5);
}

.modal-dialog {
    min-width: 600px;
}